<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent</h3>
      <input type="text" name="name" id="name" [(ngModel)]="name" />
      <p>{{ name }}</p>
      <button>Click me!</button>
      <hr />
      <app-servers></app-servers>
      <hr />
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
      <!-- <div class="app-servers"></div> -->
      <!-- <div app-servers></div> -->
      <hr />
      <app-assignment2></app-assignment2>
      <hr />
      <app-assignment3></app-assignment3>
    </div>
  </div>
</div>
